@{
    //ViewData["Title"] = "Document";
    ViewBag.Title = "Document";
}

<link href="~/css/index_style.css" rel="stylesheet">
<link href="~/assets/css/imgPreview.css" rel="stylesheet" type="text/css">
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Document</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>Document
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <!--<a id="demo02" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Document Configuration</a>-->
                <table class="table table-bordered" id="DocumentTab" width="100%" cellspacing="0"
                       data-pagination="true" data-sort-name="name" data-sort-order="desc" data-page-size="50"
                       data-page-list="[ 25, 50, 100, 200, 500, ALL]" data-show-header="true" data-id-field="accno" data-show-refresh="true"
                       data-show-export="true" data-show-columns="true" data-show-toggle="true" data-search="true"></table>

            </div>
        </div>
        <div class="card-footer small text-muted">Updated Today at <span id="todayT"></span></div>
        <div id="_myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group modsp">
                            <span>Name </span><input type="text" placeholder="Name" class="form-control" id="configname" />
                        </div>
                        <div class="form-group modsp">
                           <span>User Name </span><input type="text" placeholder="User Name" class="form-control" id="username" />
                        </div>
                        <div class="form-group modsp">
                           <span>Password </span><input type="text" placeholder="Password" class="form-control" id="password" />
                        </div>
                        <div class="form-group modsp">
                           <span>SMTP </span><input type="text" placeholder="SMTP" class="form-control" id="smtp" />
                        </div>
                        <div class="form-group modsp">
                           <span>Port </span><input type="text" placeholder="Port" class="form-control" id="port" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="saveDocument()" id="saveGLLines">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

@section Scripts{
    
    <script>

        function imsgeFormatter(value, row, index) {
            var url = '';
            return '<img onclick="previewImage(this)" class="myImg" style="width:50px;height:50px;" src="' + appConfig.userURL + 'api/Documents/FileUploads?filepath=' + encodeURI(value) + ' " />'
            /*$.get(appConfig.userURL + 'api/Documents/FileUploads?filepath=' + encodeURI(value) , function (e) {
                console.log(e);
                url = e;
                return '<img src="' + url + ' " />'
            }).fail(function (error) {
                return '<img src="' + url + ' " />'
                toastr.error('error editing ' + error.responseText + ' Product');

            });*/
            
        }
        function fullNameFormatter(value, row, index) {
            try {
                var member = getMemberById(value);
                var fullname = member.lastname + ' ' + member.firstname + ' ' + member.othernames;
                return fullname;
            } catch {
                window.location.href = '../Auth/Login'
            }

        }

        function viewFormatter(value, row, index) {
            var id = row.id;
            var email = row.loanId;
            var status = row.status;
            var key = row.processState;
            return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-danger dropdown-toggle" > Action <span class="caret" ></span ></button >' +
                ' <ul class="dropdown-menu">' +
                '<li><a id="demo01" class="btn" data-toggle="modal" data-target="#loadViewModal" onclick="loadView(\'' + email + '\', \'' + status + '\', \'' + key + '\')">VIEW</a></li>' +
                //'<li><a id="demo02" class="btn admin" data-toggle="modal" data-target="#editUserModal" onclick="loadEditView(\'' + email + '\')">REVIEW</a></li>' +
                ' </ul></div >'
        };

        function actionFormatter(value, row, index) {
            return '<a href="./tbdetails?year=2018&id=' + value + '" >' + value + '</a>';
        };

        function documentFormatter(value, row, index) {
            var url = '@Html.Raw(Url.Action("DocumentsProcessor", "Loans"))';
            url += '?Id=' + encodeURIComponent(row.id) + '&memberId=' + encodeURIComponent(row.memberId)
            if (row.status == false) {
                return '<span><a href="' + url + '" class="btn btn-danger"> Process </a></span>';
            } else {
                return '<span>' + row.processState + '</span>'
            }

        }

        function refreshTables() {
            var newUrl = appConfig.apiURL + 'api/settings/Document';
            $('#DocumentTab').bootstrapTable('refresh', { url: newUrl, silent: true });
        }

        $('#type').select2();

        var modal = document.getElementById("myModal");
        function previewImage(id) {
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            if (id.src.indexOf('pdf.png') == -1) {
                modal.style.display = "block";
                modalImg.src = id.src;
                captionText.innerHTML = id.alt;
            } else {
                window.location.href = id.alt
            }

        }

        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
       
        $(function () {
            $('#DocumentTab').bootstrapTable({
                idField: 'doc',
                url: appConfig.adminURL + 'api/Documents',
                columns: [{
                    field: 'name',
                    title: 'Name'
                }, {
                    field: 'doctype',
                    title: 'Type'
                }, {
                    field: 'documentNo',
                    title: 'Document No'
                },{
                    field: 'url',
                    title: 'Preview',
                    formatter: imsgeFormatter
                }, {
                    field: 'userId',
                    title: 'User',
                    formatter: fullNameFormatter
                }, {
                    filed: 'userId',
                    title: '',
                    formatter: documentFormatter
                }]
            });
            $('#DocumentTab').on('post-body.bs.table', function () {
                $('[data-tooltip="true"]').tooltip({
                    container: 'body'
                });
            });
            $(document).on('editable-save.bs.table', '#DocumentTab', function (e, field, row, old, $el) {
                console.log(row);
                $.post(appConfig.apiURL + 'api/settings/Document', row, function (e) {
                    console.log(e);
                    toastr.success('Product ' + product + ' edited successfully');
                }).fail(function (error) {
                    toastr.error('error editing ' + error.responseText + ' Product');

                });
            });

        });
    </script>


    }