@{
    //ViewData["Title"] = "Banks";
    ViewBag.Title = "Members Deposit";
}

<link href="css/index_style.css" rel="stylesheet">
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Members Deposit</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>Members Deposit
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <a id="demo02" class="btn btn-success" data-toggle="modal" data-target="#myModal">Post New Deposit</a>
                <table class="table table-bordered" id="BanksTab" width="100%" cellspacing="0"
                       data-pagination="true" data-sort-name="name" data-sort-order="desc" data-page-size="50"
                       data-page-list="[ 25, 50, 100, 200, 500, ALL]" data-show-header="true" data-id-field="accno" data-show-refresh="true"
                       data-show-export="true" data-show-columns="true" data-show-toggle="true" data-search="true"></table>

            </div>
        </div>
        <div class="card-footer small text-muted">Updated Today at <span id="todayT"></span></div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Member Deposit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group modsp">
                            <span>Bank Name </span><input type="text" placeholder="Bank Name" class="form-control" id="name" />
                        </div>
                        <div class="form-group modsp">
                            <span>Amount </span><input type="text" placeholder="Bank Code" class="form-control" id="amount" />
                        </div>
                        <div class="form-group modsp">
                            <span>Member </span><select placeholder="Bank Code" class="form-control" id="member"></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="saveBankDeposit()" id="saveGLLines">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script src="~/Scripts/config.js" type="text/javascript"></script>
    <script>
        function actionFormatter(value, row, index) {
            return '<a href="./tbdetails?year=2018&id=' + value + '" >' + value + '</a>';
        };
        function refreshTables() {
            var newUrl = appConfig.apiURL + 'api/settings/Banks';
            $('#BanksTab').bootstrapTable('refresh', { url: newUrl, silent: true });
        }


        function saveBanks() {
            $('#myModal').pleaseWait();

            var name = $('#name').val();
            var code = $('#code').val();
            var Banks = {
                "name": name,
                "code": code
            }

            console.log(Banks);
            var url = appConfig.apiURL + "api/settings/Banks";
            $.post(url, Banks, function (e) {
                $('#myModal').pleaseWait('stop');
                $('#myModal').modal('hide');
                toastr.success('Banks  ' + name + ' saved successfully');
                refreshTables();
            }).fail(function (error) {
                $('#myModal').pleaseWait('stop');
                toastr.error('error ' + error + 'for saving Bank ' + name);

            });

        }
        $(function () {
            $('#BanksTab').bootstrapTable({
                idField: 'product',
                url: appConfig.apiURL + 'api/settings/Banks',
                columns: [{
                    field: 'name',
                    title: 'Name'
                }, {
                    field: 'code',
                    title: 'code'
                }]
            });
            $('#BanksTab').on('post-body.bs.table', function () {
                $('[data-tooltip="true"]').tooltip({
                    container: 'body'
                });
            });
            $(document).on('editable-save.bs.table', '#BanksTab', function (e, field, row, old, $el) {
                console.log(row);
                $.post(appConfig.apiURL + 'api/settings/Banks', row, function (e) {
                    console.log(e);
                    toastr.success('Bank ' + product + ' edited successfully');
                }).fail(function (error) {
                    toastr.error('error editing ' + error.responseText + ' Bank');

                });
            });

        });
    </script>


    }