@{
    ViewBag.Title = "Add Loan Type";
}

<link href="css/index_style.css" rel="stylesheet">
<style>
    .hide {
        display: none;
    }

    .select2-selection {
        height: 34px !important;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        border-radius: 0 !important;
        border: solid 1px #c4c4c4 !important;
        padding-left: 4px;
    }

    .select2-selection--multiple {
        height: 154px !important;
        width: 366px !important;
    }

    .select2-selection__choice {
        height: 40px;
        line-height: 40px;
        padding-right: 16px !important;
        padding-left: 16px !important;
        background-color: #CAF1FF !important;
        color: #333 !important;
        border: none !important;
        border-radius: 3px !important;
    }

    .select2-selection__choice__remove {
        float: right;
        margin-right: 0;
        margin-left: 2px;
    }

    .select2-search--inline .select2-search__field {
        line-height: 40px;
        color: #333;
        width: 100% !important;
    }

    .select2-container:hover,
    .select2-container:focus,
    .select2-container:active,
    .select2-selection:hover,
    .select2-selection:focus,
    .select2-selection:active {
        outline-color: transparent;
        outline-style: none;
    }

    .select2-results__options li {
        display: block;
    }

    .select2-selection__rendered {
        transform: translateY(2px);
    }

    .select2-selection__arrow {
        display: none;
    }

    .select2-results__option--highlighted {
        background-color: #CAF1FF !important;
        color: #333 !important;
    }

    .select2-dropdown {
        border-radius: 0 !important;
        box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15) !important;
        border: none !important;
        margin-top: 4px !important;
        width: 366px !important;
    }

    .select2-results__option {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 24px !important;
        vertical-align: middle !important;
        padding-left: 8px !important;
    }

        .select2-results__option[aria-selected="true"] {
            background-color: #eee !important;
        }

    .select2-search__field {
        font-family: 'Open Sans', sans-serif;
        color: #333;
        font-size: 13px;
        padding-left: 8px !important;
        border-color: #c4c4c4 !important;
    }

    .select2-selection__placeholder {
        color: #c4c4c4 !important;
    }

    .pull-right {
        margin-right: 10px;
    }

    p {
        margin-left: 5%;
    }

    .gg {
        margin-left: 5%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">PallyWad</a></li>
                        <li class="breadcrumb-item active">Loan Setup</li>
                    </ol>
                </div>
                <h4 class="page-title">Loan Setup</h4>
            </div>
        </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>Loan Setup
        </div>
        <div class="card-body">
            <form id="lrForm">
                <div>
                    <h3>Loan Definition</h3>
                    <section>
                        <div class="row">
                            -<div class="form-group modsp col-sm-7">
                            <span>Loan Code</span><input type="text" required placeholder="Loan Type Code" class="required form-control" id="code" />
                        </div>
                        <div class="form-group modsp col-sm-4">
                            <span>Loan Short Name</span><input type="text" placeholder="Loan Short Name" class="form-control" id="shortname" />
                            </div>
                        <div class="form-group modsp col-sm-12">
                            <span>Loan Description</span><textarea required placeholder="Loan Description" class="required form-control" id="description"></textarea>
                            </div>
                            <div class="form-group modsp col-sm-6">
                                <span>Loan Category</span><select class="select2 form-select" id="category">
                                    <option value="Long Term">Select Loan Category</option>
                                </select>
                            </div>
                            <div class="form-group modsp col-sm-6">
                                <span>Deduction Order</span><select class="select2 form-select" id="repayOrder">
                                    <option value="1">Select Repayment Priority</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <h3>Loan Details</h3>
                    <section>
                        <div class="row">
                           <div class="form-group modsp col-sm-6">
                            <span>Duration</span><input type="number" value="1" placeholder="Loan Duration" class="form-control" id="duration" />
                        </div>
                        <div class="form-group modsp col-sm-6">
                            <span>Interest Rate</span><input type="number" placeholder="Interest Rate" class="form-control" id="intRate" />
                        </div>
                        <div class="form-group modsp col-sm-6">
                            <span>Processing Rate</span><input type="number" placeholder="Processing Rate" class="form-control" id="procRate" />
                        </div>
                        <div class="form-group modsp col-sm-6">
                            <span>Processing Amount</span><input type="number" placeholder="Processing Amount" class="form-control" id="procAmount" />
                        </div>
                        
                        <div class="form-group modsp col-sm-6">
                            <span>Min Age</span><input type="number" placeholder="minimum age" class="form-control" id="age" />
                        </div>
                        <div class="form-group modsp col-sm-6">
                            <span>Min Coll Percentage</span><input type="number" placeholder="Min Collateral Percentage" class="form-control" id="collateralPercentage" />
                        </div>
                        </div>
                    </section>
                    <h3>Loan Accounts</h3>
                    <section>
                        <div class="row">
                        <div class="form-group modsp col-sm-12">
                            <span>GL Acct</span><select class="form-control" id="accountno"></select>
                        </div>
                        <div class="form-group modsp col-sm-12">
                            <span>Group Acct</span><select class="form-control" id="memgroupacct"></select>
                        </div>
                        <div class="form-group modsp col-sm-6">
                            <span>Interest Code</span><select class="form-control" id="interestcode"></select>
                        </div>
                        <div class="form-group modsp col-sm-6">
                            <span>Charges Code</span><select class="form-control" id="chargecode"></select>
                        </div>
                        </div>
                    </section>
                    <h3>Loan Criteria</h3>
                    <section>
                        <div class="row">
                        <div class="form-group modsp col-sm-5">
                            <div class=" form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="requireGuarantor" />
                            <label for="requireCollateral">Require Collateral</label>
                            </div>
                        </div>
                        <div class="form-group modsp col-sm-5">
                            <div class=" form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="request_while_running" />
                            <label for="request_while_running">Can be requested while Loan Running</label>
                            </div>
                        </div>
                        <div class="form-group modsp col-sm-4">
                            <span>Collaterals</span><select class="form-control" id="collateral" multiple="multiple"></select>
                        </div>
                        <div class="form-group modsp col-sm-4">
                            <span>Required Documents</span><select class="form-control" id="documents" multiple="multiple"></select>
                        </div>
                        </div>
                    </section>
                </div>
            </form>
            
            
        </div>
        <div class="card-footer small text-muted">Updated Today at <span id="todayT"></span></div>


    </div>
</div>

@section Scripts{
    <script src="~/Scripts/config.js" type="text/javascript"></script>
    <script>
       
        var form = $("#lrForm");
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                //form.validate().settings.ignore = ":disabled,:hidden";

                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }
                //var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                /*var nextStep = '#example-form #example-form-p-' + newIndex;
                var heightNextStep = $(nextStep).css('minHeight');
                            $(nextStep).parent().animate({
                        height: heightNextStep
                }, 200);*/
                $('.current').css('minHeight');
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                //form.validate().settings.ignore = ":disabled";
                //
                saveLoanRequest();
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                //alert("Submitted!");
            }
        });

         var $accountno = $('#accountno');
        var $memgroupacct = $('#memgroupacct');
        var $interestcode = $('#interestcode');
        var $chargecode = $('#chargecode');
        var $savingscode = $('#savingscode');
        var $sharecode = $('#sharecode');
        var $category = $('#category');

        var $collateral = $('#collateral');
        var $documents = $('#documents');
        
        $('#repayOrder').select2({
                    placeholder: "Select an Acc Group",
                    width: '90%'
                    //containerCssClass: 'form-control-user',
                    //theme: 'classic'
                });
        var $option, $option2;
            function loadDefault() {
                $.get(appConfig.accountURL + 'api/chartsofacc/InternalControl', function (data) {
                    $accountno.empty();
                    $accountno.append('<option value=""> Select GL </option>')
                    for (var counter = 0; counter <= data.length - 1; counter++) {
                        //console.log(counter);
                        $option = $('<option value="' + data[counter].accountno + '">' + data[counter].accountno + ' - '+ data[counter].shortdesc + '</option>');

                        $accountno.append($option);
                    }
                    $accountno.select2({
                          placeholder: "Select a GL",
                          width: '90%'
                    });
                }).fail(function (e) {
                    toastr.error('unable to get account list');
                });

                $.get(appConfig.accountURL + 'api/chartsofacc/ChartAcc3', function (data) {
                    $memgroupacct.empty();
                    $memgroupacct.append('<option value=""> Select Group </option>')
                    for (var counter = 0; counter <= data.length - 1; counter++) {
                        //console.log(counter);
                        $option = $('<option value="' + data[counter].accountno + '">' + data[counter].accountno + ' - '+ data[counter].shortdesc + '</option>');

                        $memgroupacct.append($option);
                    }
                    $memgroupacct.select2({
                         placeholder: "Select an Acc Group",
                         width:'90%'
                         //containerCssClass: 'form-control-user',
                        //theme: 'classic'
                    });
                }).fail(function (e) {
                    toastr.error('unable to get member group acct list');
                });

                $.get(appConfig.setupURL + 'api/interest/all', function (data) {
                    $interestcode.empty();
                    $interestcode.append('<option value=""> Select Interest Code </option>')
                    for (var counter = 0; counter <= data.length - 1; counter++) {
                        //console.log(counter);
                        $option = $('<option value="' + data[counter].interestcode + '">' + data[counter].interestcode + ' - '+ data[counter].interestdesc + '</option>');

                        $interestcode.append($option);
                    }
                    $interestcode.select2({
                         placeholder: "Select Interest Code",
                         width: '90%'
                         //containerCssClass: 'form-control-user',
                        //theme: 'classic'
                    });
                }).fail(function (e) {
                    toastr.error('unable to get interest code');
            });

            $.get(appConfig.setupURL + 'api/Product', function (data) {
                $category.empty();
                $category.append('<option value=""> Select Category </option>')
                for (var counter = 0; counter <= data.length - 1; counter++) {
                    //console.log(counter);
                    $option = $('<option value="' + data[counter].name + '">' + data[counter].name + '</option>');

                    $category.append($option);
                }
                $category.select2({
                    placeholder: "Select an Acc Group",
                    width: '90%'
                    //containerCssClass: 'form-control-user',
                    //theme: 'classic'
                });
            }).fail(function (e) {
                toastr.error('unable to get categories list');
            });

                $.get(appConfig.setupURL + 'api/charges/all', function (data) {
                    $chargecode.empty();
                    $chargecode.append('<option value=""> Select Charges </option>')
                    for (var counter = 0; counter <= data.length - 1; counter++) {
                        //console.log(counter);
                        $option = $('<option value="' + data[counter].chargecode + '">' + data[counter].chargecode + ' - '+ data[counter].chargedesc + '</option>');

                        $chargecode.append($option);
                    }
                    $chargecode.select2({
                         placeholder: "Select an Acc Group",
                         width: '90%'

                    });
                }).fail(function (e) {
                    toastr.error('unable to get member group acct list');
                });

                $.get(appConfig.setupURL + 'api/documents/all', function (data) {
            $documents.empty();
            for (var counter = 0; counter <= data.length - 1; counter++) {
                $option = $('<option value="' + data[counter].name + '">' + data[counter].name + ' - ' + data[counter].name + '</option>');

                $documents.append($option);
            }
            $documents.select2({
                placeholder: "Select Document",
                width: 'element'
            }).on('change', function (e) {
                if ($(this).val() && $(this).val().length) {
                    $(this).next('.select2-container')
                        .find('li.select2-search--inline input.select2-search__field').attr('placeholder', 'Select Documents');
                }
            });
        }).fail(function (e) {
            toastr.error('unable to get documents list');
        });

         $.get(appConfig.setupURL + 'api/collateral/all', function (data) {
            $collateral.empty();
            for (var counter = 0; counter <= data.length - 1; counter++) {
                $option = $('<option value="' + data[counter].name + '">' + data[counter].name + ' - ' + data[counter].name + '</option>');

                $collateral.append($option);
            }
            $collateral.select2({
                placeholder: "Select Document",
                width: 'element'
            }).on('change', function (e) {
                if ($(this).val() && $(this).val().length) {
                    $(this).next('.select2-container')
                        .find('li.select2-search--inline input.select2-search__field').attr('placeholder', 'Select Collateral');
                }
            });
        }).fail(function (e) {
            toastr.error('unable to get documents list');
        });
            }
            loadDefault();


        function saveLoanTypes() {
            $('#myModal').pleaseWait();

            var name = $('#name').val();
            var description = $('#description').val();
            var loancode = $('#code').val();
            var shortname = $('#shortname').val();
            var duration = $('#duration').val();
            var loanrequire = false;//$('#loanrequire').val();
            var intRate = $('#intRate').val();
            var procRate = $('#procRate').val();
            var procAmount = $('#procAmount').val();
            var procInd = false;//$('#procInd').val();
            var requireGuarantor = $('#requireGuarantor').is(':checked');//val();
            var request_while_running = $('#request_while_running').is(':checked');// .val();
            var age = $('#age').val();
            var collateralPercentage = $('#collateralPercentage').val();
            
            var _memgroupacct = document.getElementById("memgroupacct");
            var memgroupacct = _memgroupacct.options[_memgroupacct.selectedIndex].value;

            var _interestcode = document.getElementById("interestcode");
            var interestcode = _interestcode.options[_interestcode.selectedIndex].value;

            /*var _savingscode = document.getElementById("savingscode");
            var savingscode = _savingscode.options[_savingscode.selectedIndex].value;

            var _sharecode = document.getElementById("sharecode");
            var sharecode = _sharecode.options[_sharecode.selectedIndex].value;*/

            var _accountno = document.getElementById("accountno");
            var accountno = _accountno.options[_accountno.selectedIndex].value;

            var _chargecode = document.getElementById("chargecode");
            var chargecode = _chargecode.options[_chargecode.selectedIndex].value;
            
            var _document = document.getElementById("document");
            var ldocument = _document.options[_document.selectedIndex].value;
            
            var _collateral = document.getElementById("collateral");
            var collateral = _collateral.options[_collateral.selectedIndex].value;

            var category = $category.val();
            
        var repayOrder = $('#repayOrder').val();

            var LoanTypes = {
                /*"name": name,
                "code": code,*/
                //loantype: 'LOAN01',
                accountno: accountno,
                duration: duration,
                chargecode: chargecode,
                loancode: loancode,
                loandesc: description,
                loaninterest: intRate,
                processrate: procRate,
                processamt: procAmount,
                processind: procInd,
                loanrequire: loanrequire,
                normalloanind: true, //normalloanind,
                memgroupacct: memgroupacct,
                interestcode: interestcode,
                savingscode: 'SAVINGS', //savingscode,
                sharecode: 'SAVINGS', //sharecode,
                shortname: shortname,
                require_collateral: requireGuarantor,
                request_while_running: request_while_running,
                category: category,
                repayOrder: repayOrder,
                age: age,
                collateralPercentage: collateralPercentage
            }

            console.log(LoanTypes);
            var url = appConfig.setupURL + "api/loan";
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(LoanTypes),
                contentType: "application/json", //; charset=utf-8
            }).done(function (data) {
                $('#myModal').pleaseWait('stop');
                $('#myModal').modal('hide');
                toastr.success('LoanTypes  ' + shortname + ' saved successfully');
                refreshTables();
            }).fail(function (request, message, error) {
                $('#myModal').pleaseWait('stop');
                toastr.error('error ' + error + 'for saving LoanType ' + shortname);
            });
        }

        
        $(function () {
            //loadDefault();

                
        })
    </script>


}