@{
    ViewBag.Title = "Loan Type (Edit)";
}

<link href="~/css/index_style.css" rel="stylesheet">
<style>
    .hide {
        display: none;
    }

    .select2-selection {
        height: 34px !important;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        border-radius: 0 !important;
        border: solid 1px #c4c4c4 !important;
        padding-left: 4px;
    }

    .select2-selection--multiple {
        height: 154px !important;
        width: 366px !important;
    }

    .select2-selection__choice {
        height: 40px;
        line-height: 40px;
        padding-right: 16px !important;
        padding-left: 16px !important;
        background-color: #CAF1FF !important;
        color: #333 !important;
        border: none !important;
        border-radius: 3px !important;
    }

    .select2-selection__choice__remove {
        float: right;
        margin-right: 0;
        margin-left: 2px;
    }

    .select2-search--inline .select2-search__field {
        line-height: 40px;
        color: #333;
        width: 100% !important;
    }

    .select2-container:hover,
    .select2-container:focus,
    .select2-container:active,
    .select2-selection:hover,
    .select2-selection:focus,
    .select2-selection:active {
        outline-color: transparent;
        outline-style: none;
    }

    .select2-results__options li {
        display: block;
    }

    .select2-selection__rendered {
        transform: translateY(2px);
    }

    .select2-selection__arrow {
        display: none;
    }

    .select2-results__option--highlighted {
        background-color: #CAF1FF !important;
        color: #333 !important;
    }

    .select2-dropdown {
        border-radius: 0 !important;
        box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15) !important;
        border: none !important;
        margin-top: 4px !important;
        width: 366px !important;
    }

    .select2-results__option {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 24px !important;
        vertical-align: middle !important;
        padding-left: 8px !important;
    }

    .select2-results__option[aria-selected="true"] {
        background-color: #eee !important;
    }

    .select2-search__field {
        font-family: 'Open Sans', sans-serif;
        color: #333;
        font-size: 13px;
        padding-left: 8px !important;
        border-color: #c4c4c4 !important;
    }

    .select2-selection__placeholder {
        color: #c4c4c4 !important;
    }
    .pull-right{
        margin-right: 10px;
    }
    p{
        margin-left: 5%;
    }

    .gg{
        margin-left: 5%;
    }
</style>
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Loan Type (Edit)</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3" id="detail">
        <div class="card-header">
            <i class="fa fa-table"></i><span style="margin-left: 10%;" name="fullname"></span>
            <span> LOAN SETUP REVIEW</span>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>Loan Setup
            </div>
            <div class="card-body">
                <form id="lrForm">
                    <div>
                        <h3>Loan Definition</h3>
                        <section>
                            <div class="row">
                                -<div class="form-group modsp col-sm-7">
                                    <span>Loan Code</span><input type="text" placeholder="Loan Type Code" class="form-control" id="loancode" name="loancode" />
                                </div>
                                <div class="form-group modsp col-sm-4">
                                    <span>Loan Short Name</span><input type="text" placeholder="Loan Short Name" class="form-control" id="shortname" name="shortname" />
                                </div>
                                <div class="form-group modsp col-sm-12">
                                    <span>Loan Description</span><textarea placeholder="Loan Description" class="form-control" id="loandesc" name="loandesc"></textarea>
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Loan Category</span><select class="select2 form-select" id="category">
                                        <option value="Long Term">Select Loan Category</option>
                                    </select>
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Deduction Order</span><select class="select2 form-select" id="repayOrder">
                                        <option value="1">Select Repayment Priority</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </section>
                        <h3>Loan Details</h3>
                        <section>
                            <div class="row">
                                <div class="form-group modsp col-sm-6">
                                    <span>Duration</span><input type="number" value="1" placeholder="Loan Duration" class="form-control" id="duration" name="duration" />
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Interest Rate</span><input type="number" placeholder="Interest Rate" class="form-control" id="loaninterest" name="loaninterest" />
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Processing Rate</span><input type="number" placeholder="Processing Rate" class="form-control" id="processrate" name="processrate" />
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Processing Amount</span><input type="number" placeholder="Processing Amount" class="form-control" id="processamt" name="processamt" />
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Interest Type</span><select class="form-select" id="loanInterestType">
                                        <option value="0"> - Select Interest Type -</option>
                                        <option value="General">General</option>
                                        <option value="reducing balance"> Reducing Balance </option>
                                    </select>
                                </div>

                                <div class="form-group modsp col-sm-6">
                                    <span>Min Age</span><input type="number" placeholder="minimum age" class="form-control" id="age" name="age" />
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Min Coll Percentage</span><input type="number" placeholder="Min Collateral Percentage" class="form-control" id="collateralPercentage" name="collateralPercentage" />
                                </div>
                            </div>
                        </section>
                        <h3>Loan Accounts</h3>
                        <section>
                            <div class="row">
                                <div class="form-group modsp col-sm-12">
                                    <span>GL Acct</span><select class="form-control" id="accountno"></select>
                                </div>
                                <div class="form-group modsp col-sm-12">
                                    <span>Group Acct</span><select class="form-control" id="memgroupacct"></select>
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Interest Code</span><select class="form-control" id="interestcode"></select>
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Charges Code</span><select class="form-control" id="chargecode"></select>
                                </div>
                            </div>
                        </section>
                        <h3>Loan Criteria</h3>
                        <section>
                            <div class="row">
                                <div class="form-group modsp col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="colltype">Require Collateral</span>
                                        <label class="switch">
                                            <input id="requireGuarantor" type="checkbox">
                                            <span class="slider cround"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="runtype">Can be requested while Loan Running</span>
                                        <label class="switch">
                                            <input id="request_while_running" type="checkbox">
                                            <span class="slider cround"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Collaterals</span><select class="form-control" id="collateral" multiple="multiple"></select>
                                </div>
                                <div class="form-group modsp col-sm-6">
                                    <span>Required Documents</span><select class="form-control" id="documents" multiple="multiple"></select>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>


            </div>
            <div class="card-footer small text-muted">Updated Today at <span id="todayT"></span></div>


        </div>
</div>


<div>
               <div class="col-sm-12">
                    <!--<button type="button" class="btn btn-danger pull-right" onclick="saveReview('Decline')">Decline</button>-->
                    <button type="button" class="btn btn-primary pull-right" onclick="printPage()"><i class="fa fa-print"></i>Print</button>
                </div>
</div>
<div class="card-footer small text-muted">Updated Today at <span id="todayT"></span></div>
</div>

@section Scripts{

<script src="~/Scripts/config.js" type="text/javascript"></script>
<script>
    var loanDetails = '';
    var id = qs['id'];
    var memberId = qs['memberId']
    loadView(id);

    function printPage(){
        var printwin = window.open("");
printwin.document.write(document.getElementById("detail").innerHTML);
printwin.print();
    }

    function saveReview(type) {
        $('#loanProcessView').pleaseWait();
        var url = '';
        if(type=='Approve'){
            var approvalDate = $('#approvalDate').val();
            loanDetails.approvalDate = approvalDate;
            loanDetails.processState = "Processed";
            loanDetails.status = "Approved";
            loanDetails.tenantId = "rr";
            loanDetails.approvedBy = localStorage.getItem('uemail');
                url = appConfig.apiURL + 'api/admin/ProcessLoanRequest';
        }else{
            loanDetails.processState = "Processed";
            loanDetails.processState = "Decline";
            loanDetails.tenantId = "rr";
            loanDetails.approvedBy = localStorage.getItem('uemail');

                url = appConfig.apiURL + "api/admin/loanrequestdecline?id=" + loanDetails.id;
        }
        

        
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(loanDetails),
                contentType: "application/json",
            }).done(function (data) {
                $('#loanProcessView').pleaseWait('stop');
                toastr.success('Loan Request  processed successfully');
                window.location.href = 'loanrequest';
                //refreshTables();
            }).fail(function (request, message, error) {
                $('#loanProcessView').pleaseWait('stop');
                toastr.error('error ' + request + 'for processing Loan Request ');
                toastr.error(request.responseText);
                console.log(request);
            });

    }

function etype(elementId){    
    var type = $('[id="' + elementId + '"').attr('type');
    return type;
   }

    function loadView(id) {
        $('#loadViewModal').pleaseWait();
            var url = appConfig.setupURL + 'api/loan/byid?id=' + encodeURIComponent(id);
        $.get(url, function (data) {
            loanDetails = data;
            $('#loadViewModal').pleaseWait('stop');
            try {
                for (var key in data) {
                    if (key == 'insuredname') {
                        var lname = data[key].split(' ')[0];
                        var fname = data[key].split(' ')[1];
                        $('[name="firstname"]').html(fname);
                        $('[name="lastname"]').html(lname);
                        }
                        $('[name="' + key + '"]').val(data[key]);
                    $('[name="' + key + '"]').html(data[key]);
                    if (key == 'requestDate') {
                        $('[name="' + key + '"]').html(new Date(data[key]).toLocaleDateString());
                    }
                    if (key == 'approvalDate') {
                        if(data[key] == null){
                             var d = new Date().toISOString().split('T')[0];                             
                        //$('[name="' + key + '"]').html(new Date(data[key]).toLocaleDateString());
                            $('[id="' + key + '"]').val(d);
                        }else{
                             var d = new Date(data[key]).toISOString().split('T')[0];                             
                        $('[name="' + key + '"]').html(new Date(data[key]).toLocaleDateString());
                            $('[id="' + key + '"]').val(d);
                        }
                           
                        }
                    if (key == 'memberId') {
                        var fullname = getMemberById(data[key]).fullname
                        $('[name="' + key + '"]').html(data[key]);
                        $('[name="fullname"]').html(fullname.toUpperCase());
                    }
                    if (key == 'guarantorId1') {
                        //var fullname = getMemberById(data[key]).fullname
                        $('[name="' + key + '"]').html(getMemberById(data[key]).fullname);
                        var g1 = getMemberById(data[key]).fullname
                        getGuarantorOverhead(data[key], key, g1);
                    }
                    if (key == 'guarantorId2') {
                        $('[name="' + key + '"]').html(getMemberById(data[key]).fullname);
                        var g1 = getMemberById(data[key]).fullname
                        getGuarantorOverhead(data[key], key, g1);
                    }
                    if (key == 'guarantorId3') {
                        $('[name="' + key + '"]').html(getMemberById(data[key]).fullname);
                        var g1 = getMemberById(data[key]).fullname
                        getGuarantorOverhead(data[key], key, g1);
                    }
                    if (key == 'amount') {
                        $('[name="' + key + '"]').html(currformatter.format(data[key]));
                    }
                    if (key == 'processingFee') {
                        $('[name="' + key + '"]').html(currformatter.format(data[key]));
                    }
                    if (key == 'loanBal') {
                        $('[name="' + key + '"]').html(currformatter.format(data[key]));
                    }
                    if (key == 'othercoorp') {
                        $('[name="' + key + '"]').html(currformatter.format(data[key]));
                    }
                }
            } catch (e) {
                console.log(e);
            }
        }).fail(function (xhr, status, error) {
            $('#loadViewModal').pleaseWait('stop');
        });

        
    function getGuarantorOverhead(memberId, guarantor, gname) {
        console.log(guarantor)
        var sav = 0;
        var loan = 0;
        var loanGuan = 0;
        var url = appConfig.apiURL + "api/Admin/GuarantorOverhead?memberId=" + memberId;
        $.ajax({
            type: 'GET',
            url: url,
            contentType: "application/json",
        }).done(function (data) {
            toastr.success('guarantor ' + gname + ' savings and Loan details gotten suucessfully ');

            for (var key in data) {
                var acc = data[key];
                for (var v in acc) {
                    if (v == 'acctype') {
                        if (acc[v] == 'Loans') {
                            $('[name="' + guarantor + acc[v] + '"]').html(currformatter.format(data[key].loanBalance));
                            loan = data[key].loanBalance;
                        } else if (acc[v] == 'Normal')  {
                            $('[name="' + guarantor + acc[v] + '"]').html(currformatter.format(data[key].savBalance));
                            sav = data[key].savBalance
                        } else if (acc[v] == 'LoanGuanrantee')  {
                            $('[name="' + guarantor + acc[v] + '"]').html(currformatter.format(data[key].savBalance));
                            loanGuan = data[key].loanGuarantee
                        }else {
                            //$('[name="' + guarantor + acc[v] + '"]').html(currformatter.format(data[key].savBalance));
                        }
                    }
                }
            }
            var bal = parseFloat(sav) - parseFloat(loan) - parseFloat(loanGuan);
            $('[name="' + guarantor + 'Net"]').html(currformatter.format(bal));
        }).fail(function (request, message, error) {
            $('#myModal').pleaseWait('stop');
            toastr.error('unable to get guarantor ' + gname + ' savings and Loan details ');
        });
    };

    }

        function showError(error, value, xhr) {
            $('#strWorkspace').pleaseWait('stop');
            toastr.error('unable to process request approval ');
            toastr.error(error.responseText);
            console.log(error);
        }
</script>


}